<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="chat.js"></script>
</head>


<body>
    
    <div id="change_username">
        <input id="username" type="text" />
        <button id="send_username" type="button">Change username</button>
    </div>

        
    <div id="chatroom">
        <div id="feedback"></div>
    </div>
        
    <div id="input_zone">
        <input id="message" class="vertical-align" type="text" />
        <button id="send_message" class="vertical-align" type="button">Send</button>
    </div>
</body>